.feed_index{
  background-color:white;
  padding: 30px;
  margin-top: 30px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  width: 800px;
}

.feed_new{
  background-color:white;
  padding: 30px;
  margin-top: 30px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  width: 300px;
}

.feed_show{
  background-color:white;
  padding: 30px;
  margin-top: 30px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  width: 300px;
}

.feed_confirm{
  background-color:white;
  padding: 30px;
  margin-top: 30px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  width: 300px;
}

.feed_edit{
  background-color:white;
  padding: 30px;
  margin-top: 30px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  width: 300px;
}
